body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
    color: navy;
    text-align: center;
}

nav {
    border-bottom: 1px dashed navy;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: royalblue;
    margin: 30px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
